★参考資料/*
backup/*

.Rproj.user
*.audit
*.bnd
*.dxf
*.eio
*.err
*.eso
*.mdd
*.mtd
*.rdd
*.rvaudit
*.shd
*.svg
*.end
*.mtr
*.htm
*.sql
*.Rproj
*.png
*.skp

#*.xlsx
01_Load_Test/01_Single_Multiple/Results/*.xlsx
01_Load_Test/01_Single_Multiple/Results/詳細比較/*.xlsx
01_Load_Test/02_Building/Results/*.xlsx
01_Load_Test/02_Building/Results/CaseSRT/*.xlsx
01_Load_Test/02_Building/Setting/*.xlsx
01_Load_Test/02_Building/Setting/*.xlsx

*postprocessed
Case*.csv
*Meter.csv
*Table.csv
*Zsz.csv
*.stat
*.ddy



