★参考資料/*
backup/*

.Rproj.user
*.audit
*.bnd
*.dxf
*.eio
*.err
*.eso
*.mdd
*.mtd
*.rdd
*.rvaudit
*.shd
*.svg
*.end
*.mtr
*.htm
*.sql
*.Rproj
*.png
*.skp

*.xlsx
idf_miyata/archive/*
idf_miyata/集計結果*
idf_miyata/CaseSRT/*
idf_miyata/CaseWBT/*

DesignBuilder/*postprocessed
DesignBuilder/Case*.csv
DesignBuilder/*Meter.csv
DesignBuilder/*Table.csv
DesignBuilder/*Zsz.csv
DesignBuilder/Case600_2.idf



