ahu_subsystem/output-JSBC2018_updated_AHUsubsystem
ahu_subsystem/output-JSBC2018_updated_AHUsubsystem_2022_CAV
ahu_subsystem/output-JSBC2018_updated_AHUsubsystem_2022_VAVcooling
ahu_subsystem/output-JSBC2018_updated_AHUsubsystem_2022_VAVheating

condenser_water_subsystem/output-JSBC2018_updated_CWsubsystem
condenser_water_subsystem/output-JSBC2018_updated_CWsubsystem_2022_VariableFlow
condenser_water_subsystem/output-JSBC2018_updated_CWsubsystem_2022_ConstantFlow

heat_source_subsystem/output-JSBC2018_updated_HSsubsystem
heat_source_subsystem/output-JSBC2018_updated_HSsubsystem_rev
heat_source_subsystem/output-JSBC2018_updated_HSsubsystem_rev_ARdirectfired
heat_source_subsystem/output-JSBC2018_updated_HSsubsystem_rev2

JSBC2018_updated_HSsubsystem_rev_ARdirectfired.idf
JSBC2018_updated_CWsubsystem_2022_VariableFlow_pump_moved.idf